<!-- extends表明此頁面繼承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
<!-- 寫入 base.html 中定義的 title -->
{% block title %}
    文章詳情
{% endblock title %}

<!-- 寫入 base.html 中定義的 content -->
{% block content %}
    <!-- 文章詳情 -->
    <div class="container">
        <div class="row">
            <!-- 標題及作者 -->
            <div class="col-9">
                <h1 class=" mt-4 mb-4">{{ article.title }}</h1>
                <div class="col-12 alert alert-success">作者：{{ article.author }}--
                    {% if user == article.author %}
                        <a href="#" onclick="confirm_safe_delete()">刪除文章</a>
                        -- <a href="{% url 'article:article_update' article.id %}">
                            編輯文章
                        </a>
                    {% endif %}
                    <div>
                        瀏覽：{{ article.total_views }}
                    </div>
                </div>
            </div>
            <div class="col-3 mt-4">
                <h4><strong>目錄</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                    <!-- toc 目錄 需要|safe標籤才能正確渲染 -->
                </div>
            </div>
            <!-- 新增一個隱藏的表單 -->
            <form
                style="display:none;"
                id="safe_delete"
                action="{% url 'article:article_safe_delete' article.id %}"
                method="POST"
                >
                {% csrf_token %}
                <button type="submit">發送</button>
            </form>
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <!-- # 在 article.body 後加上 |safe 過濾器,|safe就類似給article.body貼了一個標籤，表示這一段字符不需要進行轉義了。 -->
            <p>{{ article.body|safe }}</p>
        </div>
        <!-- 新增點讚按鈕 -->
        <div style="text-align:center;" class="mt-4">
            <button class="btn btn-outline-danger"
            type="button"
            onclick="validate_is_like(
            '{% url 'article:increase_likes' article.id %}',
            {{ article.id }},
            {{ article.likes }}
            )"
            >
            <span>點讚</span>
            <span>
                <i class="fas fa-heart"></i>
            </span>
            <span id="likes_number">
                {{ article.likes }}
            </span>
            </button>
        </div>
        <!-- 發表評論 -->
        <hr>
        {% if user.is_authenticated %}
            <div>
                <form
                    action="{% url 'comment:post_comment' article.id %}"
                    method="POST"
                    >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                            我也要發言：
                            </strong>
                        </label>
                        <div>
                            <!-- comment_form.media是編輯器自身的渲染代碼，
                            comment_form.body則是評論正文字段。 -->
                            {{ comment_form.media }}
                            {{ comment_form.body }}
                        </div>
                        <!--             <textarea
                        type="text"
                        class="form-control"
                        id="body"
                        name="body"
                        rows="2"></textarea> -->
                    </div>
                    <!-- 提交按鈕 -->
                    <button type="submit" class="btn btn-primary ">發送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
            請<a href="{% url 'userprofile:login' %}">登錄</a>後回復
            </h5>
            <br>
        {% endif %}
        <!-- 改動 顯示評論 部分 -->
        <!-- 不要漏了 load mptt_tags！ -->
        {% load mptt_tags %}
        <h4>共有{{ comments.count }}條評論</h4>
        <div class="row">
            <!-- 遍歷樹形結構 -->
            {% recursetree comments %}
            <!-- 給 node 取個別名 comment -->
            {% with comment=node %}
            <div class="{% if comment.reply_to %}
                offset-1 col-11
            {% else %}
                col-12
            {% endif %}"
            id="comment_elem_{{ comment.id }}"
            >
            <hr>
            <p>
                <strong style="color: pink">
                {{ comment.user }}
                </strong>
                {% if comment.reply_to %}
                    <i class="far fa-arrow-alt-circle-right"
                    style="color: cornflowerblue;"
                    ></i>
                    <strong style="color: pink">
                    {{ comment.reply_to }}
                    </strong>
                {% endif %}
            </p>
            <div>{{ comment.body|safe }}</div>
            <div>
                <span style="color: gray">
                    {{ comment.created|date:"Y-m-d H:i" }}
                </span>
                <!-- 加載 modal 的按鈕 -->
                {% if user.is_authenticated %}
                    <button type="button"
                    class="btn btn-light btn-sm text-muted"
                    onclick="load_modal({{ article.id }}, {{ comment.id }})"
                    >
                    回復
                    </button>
                {% else %}
                    <a class="btn btn-light btn-sm text-muted"
                        href="{% url 'userprofile:login' %}"
                        >
                        回復
                    </a>
                {% endif %}
            </div>
            <!-- Modal -->
            <div class="modal fade"
                id="comment_{{ comment.id }}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="CommentModalCenter"
                aria-hidden="true"
                >
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content" style="height: 480px">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">回復 {{ comment.user }}：</h5>
                        </div>
                        <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                    </div>
                </div>
            </div>
            {% if not comment.is_leaf_node %}
                <div class="children">
                    {{ children }}
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endrecursetree %}
</div>
<!-- 新增代碼 -->
{% block script %}
<script>
// function confirm_delete(){
// layer.open({
// title:"確認刪除",
// content:"確認刪除這篇文章嗎?",
// yes:function(index,layero){
// location.href="{% url 'article:article_delete' article.id%}"
// },
// })
// }
function confirm_safe_delete() {
layer.open({
title: "確認刪除",
content: "確認刪除這篇文章嗎??",
yes: function(index, layero) {
$('form#safe_delete button').click();
layer.close(index);
}
})
}
</script>
<script>
$(".django-ckeditor-widget").removeAttr('style');
</script>
<!-- 新增代碼，喚醒二級回復的 modal -->
<script>
// 加載 modal
function load_modal(article_id, comment_id) {
let modal_body = '#modal_body_' + comment_id;
let modal_id = '#comment_' + comment_id;
// 加載編輯器
if ($(modal_body).children().length === 0) {
let content = '<iframe src="/comment/post-comment/' +
article_id +
'/' +
comment_id +
'"' +
' frameborder="0" style="width: 100%; height: 100%;" id="iframe_' +
comment_id +
'"></iframe>';
$(modal_body).append(content);
};
$(modal_id).modal('show');
}
</script>


<!-- csrf token -->
<script src="{% static 'csrf.js' %}"></script>
<script>
    // 點讚功能主函數
    function validate_is_like(url, id, likes) {
        // 取出 LocalStorage (當前視窗下儲存的數據) 中的數據
        let storage = window.localStorage;
        const storage_str_data = storage.getItem("my_blog_data");
        let storage_json_data = JSON.parse(storage_str_data);
        // 雖然 LocalStorage 的存儲方式為標準的鍵值對類型（類似Python的字典），但是很怪的是存儲的值只支持字符串類型。所以這裡要用 JSON.parse() 將字符串還原為對象。
        // 若數據不存在，則創建空字典
        // 用戶第一次點讚時，LocalStorage 中肯定是沒有任何數據的，所以 if 語句的作用是創建一個空的字典待用。
        if (!storage_json_data) {
            storage_json_data = {}
        };
        // 檢查當前文章是否已點讚。是則 status = true
        const status = check_status(storage_json_data, id);
        if (status) {
            layer.msg('已經點過讚了喲~');
            // 點過讚則立即退出函數
            return;
        } else {
            // 用 Jquery 找到點讚數量，並 +1
            $('span#likes_number').text(likes + 1).css('color', '#dc3545');
        }
        // 用 ajax 向後端發送 post 請求
        $.post(
            url,
            // post 只是為了做 csrf 校驗，因此數據為空
            {},
            //  result 是後端的返回值
            function(result) {
                if (result === 'success') {
                    // 嘗試修改點讚數據
                    try {
                        storage_json_data[id] = true;
                    } catch (e) {
                        window.localStorage.clear();
                    };
                    // 將字典轉換為字符串，以便存儲到 LocalStorage
                    const d = JSON.stringify(storage_json_data);
                    // 嘗試存儲點讚數據到 LocalStorage
                    try {
                        storage.setItem("my_blog_data", d);
                    } catch (e) {
                        // code 22 錯誤表示 LocalStorage 空間滿了
                        if (e.code === 22) {
                            window.localStorage.clear();
                            storage.setItem("my_blog_data", d);
                        }
                    };
                } else {
                    layer.msg("與服務器通信失敗..過一會兒再試試唄~");
                }

            }
        );
    };

    // 輔助點讚主函數，驗證點讚狀態
    function check_status(data, id) {
        // 嘗試查詢點讚狀態
        try {
            if (id in data && data[id]) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            window.localStorage.clear();
            return false;
        };
    };
</script>
{% endblock script %}
{% endblock content %}
<!-- 看  Explanation.html -->