absl-py==0.8.1
aioredis==1.0.0
alabaster==0.7.10
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
asgiref==2.3.2
asn1crypto==0.24.0
astor==0.8.0
astroid==1.6.1
astropy==2.0.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==17.4.0
autobahn==20.2.2
Automat==0.7.0
Babel==2.5.3
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.7
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.2
bokeh==0.12.13
boto==2.48.0
boto3==1.9.253
botocore==1.12.253
Bottleneck==1.2.1
braintree==3.45.0
certifi==2019.9.11
cffi==1.11.4
channels==2.1.7
channels-redis==2.3.3
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.9
comtypes==1.1.4
conda==4.7.12
conda-build==3.4.1
conda-package-handling==1.6.0
conda-verify==2.0.0
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
Cython==0.27.3
cytoolz==0.9.0
daphne==2.4.1
dask==0.16.1
datashape==0.5.4
decorator==4.2.1
defusedxml==0.6.0
distributed==1.20.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0
django-allauth==0.41.0
django-appconf==1.0.3
django-ckeditor==5.9.0
django-imagekit==4.0.2
django-js-asset==1.2.2
django-mailgun==0.9.1
django-model-utils==4.0.0
django-mptt==0.11.0
django-notifications-hq==1.5.0
django-password-reset==2.0
django-redis==4.10.0
django-sslserver==0.22
django-taggit==1.2.0
docutils==0.14
dwebsocket==0.5.12
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.13
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.4.1
gast==0.2.2
gensim==3.8.1
gevent==1.2.2
glob2==0.6
google-pasta==0.1.7
greenlet==0.4.12
grpcio==1.24.3
gunicorn==20.0.4
h5py==2.7.1
heapdict==1.0.0
hiredis==1.0.1
hmmlearn==0.2.2
html5lib==1.0.1
hyperlink==19.0.0
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==5.1.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.4
jsonfield==3.1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.4
jupyterlab-launcher==0.10.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
lazy-object-proxy==1.3.1
llvmlite==0.21.0
locket==0.2.0
lxml==4.1.1
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
menuinst==1.4.11
mistune==0.8.3
more-itertools==7.2.0
mpmath==1.0.0
msgpack==0.6.2
msgpack-python==0.5.1
multipledispatch==0.4.9
multitasking==0.0.9
mysql-connector==2.2.9
mysql-connector-python==8.0.17
mysqlclient==1.4.6
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
netaddr==0.7.19
networkx==2.1
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
numba==0.36.2
numexpr==2.6.4
numpy==1.17.3
numpydoc==0.7.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.45.1
opencv-contrib-python==3.4.2.16
opencv-python==4.1.2
openpyxl==2.4.10
opt-einsum==3.1.0
packaging==16.8
pandas==0.25.1
pandas-datareader==0.9.0.dev0+35.gc60ea8a
pandocfilters==1.4.2
parsel==1.5.2
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.3.0
patsy==0.5.0
pep8==1.7.1
pickleshare==0.7.4
pilkit==2.0
Pillow==5.0.0
pkginfo==1.4.1
plotly==3.10.0
pluggy==0.6.0
ply==3.10
prompt-toolkit==1.0.15
protobuf==3.10.0
psutil==5.4.3
py==1.5.2
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
PyDispatcher==2.0.5
pyflakes==1.6.0
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==1.8.2
PyMySQL==0.9.3
pyodbc==4.0.22
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
pytesseract==0.3.0
pytest==3.6.4
pytest-runner==5.1
pytest-socket==0.3.3
python-dateutil==2.6.1
python-engineio==3.11.2
python-socketio==4.4.0
python-speech-features==0.6
python3-openid==3.1.0
pytz==2017.3
PyWavelets==0.5.2
pywin32==227
pywinpty==0.5
PyYAML==3.12
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.3.1
QtPy==1.9.0
queuelib==1.5.0
redis==3.3.11
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.10.7
ruamel-yaml==0.15.35
s3transfer==0.2.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.6.0
seaborn==0.8.1
selenium==3.141.0
Send2Trash==1.4.2
service-identity==18.1.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.8.4
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.9
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.2.1
sqlparse==0.3.0
static3==0.7.0
statsmodels==0.8.0
swapper==1.1.2.post1
sympy==1.1.1
TA-Lib==0.4.17
tables==3.4.2
tb-nightly==1.14.0a20190603
tblib==1.3.2
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tf-estimator-nightly==1.14.0.dev2019060501
toolz==0.9.0
tornado==4.5.3
tqdm==4.36.1
traitlets==4.3.2
tushare==1.2.48
Twisted==19.7.0
txaio==20.1.1
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==16.7.8
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.3.0
yfinance==0.1.54
zhconv==1.4.0
zict==0.1.3
zope.interface==4.6.0
