<!-- extends表明此頁面繼承自 base.html 文件 -->
{% extends "base.html" %} {% load staticfiles %}
<!-- 寫入 base.html 中定義的 title -->
{% block title %} 寫文章 {% endblock title %}
<!-- 寫入 base.html 中定義的 content -->
{% block content %}
<!-- 寫文章表單 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表單 -->
            <form method="post" action="." enctype="multipart/form-data">
                <!-- Django中需要POST數據的地方都必須有csrf_token -->
                {% csrf_token %}
                <!-- 文章標籤 -->
                <div class="form-group">
                <!-- 標籤 -->
                    <label for="tags">標籤</label>
                    <input type="text"
                    class="form-control col-3"
                    id="tags"
                    name="tags"
                    >
                </div>
                 <!-- 文章标题图 -->
                <div class="form-group">
                    <label for="avatar">標題圖</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- 文章欄目 -->
                <div class="form-group">
                    <label for="column">欄目</label>
                    <select class="form-control"
                        id="column"
                        name="column"
                        >
                        <option value="none">請選擇欄目..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- 文章標題 -->
                <label for="title">文章標題</label>
                <!-- 文本框 -->
                <input type="text" class="form-control" id="title" name="title" required="required">
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本區域 -->
                    <textarea type="text" class="form-control" id="body" name="body" rows="12" required="required"></textarea>
                </div>
                <!-- 提交按鈕 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
{% endblock script %}
{% endblock content %}