{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
      <div class="container">
      	 <div class="row my-5">
      	 	<div class="col-sm-12 " >
	<div class="product-detail">
	<img src="{% if product.image %}{{ product.image.url }}{% else %}
	{% static 'img/no_image.png' %}{% endif %}">
	<h1>{{ product.name }}</h1>
	<h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
	<p class="price">${{ product.price }}</p>
	<form action="{% url 'cart:cart_add' product.id %}" method="post">
		{{ cart_product_form }}
		{% csrf_token %}
		<input type="submit" value="Add to cart">
	</form>
	{{ product.description|linebreaks }}
</div>
<div weight='50px'></div>
{% endblock %}
{% block footer %}
<div style = 'background-color:#6c757d;position: fixed;  bottom: 0;
	right: 0;width: 100%;' height='50px' >
	<p style="text-align: center;">Copyright &copy; www.project.com 2019</p>
</div></div></div></div>
{% endblock footer  %}